<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="stylesheet" type="text/css" href="profiles.css">
</head>
<body>

<form action="/profiles/new" action="GET"> 

<h1> About Me </h1>
	<div class="about">
	</div>




<h1> My Posts </h1>
	<div class="blog">
	</div>



</body>
</html>