<!DOCTYPE>
<html>
  <head>
  </head>
  <body>
    <form method="POST" action"/singup">
      <input
        type="email"
        name="[user]email"
        placeholder="Email">

      <input
        type="password"
        name="[user]password"
        placeholder="Password">

      <input
        type="text"
        name="[user]fname"
        placeholder="First Name">

      <input
        type="text"
        name="[user]lname"
        placeholder="Last Name">

      <input
        type="date"
        name="[user]bday"
        placeholer="Date of Birth">

      <input type="submit">
    
    </form>
  

  </body>
</html>